@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Store</h1>
    <p class="lead">Welcome to the new book store page!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer section</h2>
        <p>
            To see the customer's list or add a new customer, click below
        </p>
        <p><a class="btn btn-default" href="Customer/All">Customer section &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Invoice section</h2>
        <p>
            To see the invoice's list or add a new invoice, click below
        </p>
        <p><a class="btn btn-default" href="Invoice/All">Invoice section &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product section</h2>
        <p>
            To see the product's list or add a new product, click below
        </p>
        <p><a class="btn btn-default" href="Product/All">Product section &raquo;</a></p>
    </div>
</div>